<% layout('/layouts/boilerplats') -%>     <!--layouts ar jonno full path likhte hoy na -->

<div class="new-listing body px-lg-5 px-md-3 px-sm-3 px-3 body row">
  <div class="col-6 offset-md-3 offset-sm-0">
    <h3>Edit the Listing</h3>

    <form method="POST" action="/listing/<%= listing._id %>?_method=PUT" novalidate class="needs-validation" enctype="multipart/form-data">
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input
          name="listing[title]"
          placeholder="enter title"
          type="text"
          class="form-control"
          value="<%= listing.title %>"
          required
        />
      </div>

      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea
          class="form-control"
          id="exampleInputPassword1"
          name="listing[description]"
          placeholder="enter description"
          required
        >
<%= listing.description %></textarea
        >
      </div>

      <div class="mb-3">
        <label for="image" class="form-label">Image</label>
        <input
          name="listing[image]"
          placeholder="enter image URL/Link"
          type="file"
          class="form-control"
          id="exampleInputPassword1"
          value="<%= listing.image.url %>"
        />
      </div>

      <div class="mb-3">
        <label for="price" class="form-label">Price</label>
        <input
          name="listing[price]"
          placeholder="enter price"
          type="number"
          class="form-control"
          id="exampleInputPassword1"
          value="<%= listing.price %>"
          required
        />
      </div>

      <div class="mb-3">
        <label for="country" class="form-label">Country</label>
        <input
          name="listing[country]"
          placeholder="enter country"
          type="text"
          class="form-control"
          id="exampleInputPassword1"
          value="<%= listing.country %>"
          required
        />
      </div>

      <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input
          name="listing[location]"
          placeholder="enter location"
          type="text"
          class="form-control"
          id="exampleInputPassword1"
          value="<%= listing.location %>"
          required
        />
      </div>

      <button type="submit" class="btn btn-dark">Submit</button>
    </form>
  </div>
</div>
