<% layout('/layouts/boilerplats') -%>

<div class="nav-2 px-lg-5 px-md-3 px-sm-3 home">
  <div class="filter px-xl-4 px-3">
    <p></p>
    <div class="filter-1">
      <a href="/listing/filter/farm"
        ><div class="cell">
          <img src="/images/001-barn.png" />
          <p>Farm</p>
        </div></a
      >

      <a href="/listing/filter/omg"
        ><div class="cell">
          <img src="/images/002-flight.png" />
          <p>Omg</p>
        </div></a
      >
      <a href="/listing/filter/beach"
        ><div class="cell">
          <img src="/images/003-beach.png" />
          <p>Beach</p>
        </div></a
      >
      <a href="/listing/filter/mountain"
        ><div class="cell">
          <img src="/images/mountain.png" />
          <p>Mountain</p>
        </div></a
      >
      <a href="/listing/filter/bighouse"
        ><div class="cell">
          <img src="/images/004-apartment.png" />
          <p>BigHouse</p>
        </div></a
      >
      <a href="/listing/filter/house"
        ><div class="cell">
          <img src="/images/005-house.png" />
          <p>House</p>
        </div></a
      >
      <a href="/listing/filter/castle"
        ><div class="cell">
          <img src="/images/006-castle-tower.png" />
          <p>Castle</p>
        </div></a
      >
      <a href="/listing/filter/hotel"
        ><div class="cell">
          <img src="/images/007-hotel.png" />
          <p>Hotel</p>
        </div></a
      >
      <a href="/listing/filter/swimming"
        ><div class="cell">
          <img src="/images/008-swimming-pool.png" />
          <p>Swimming</p>
        </div></a
      >
      <a href="/listing/filter/island"
        ><div class="cell">
          <img src="/images/001-island.png" />
          <p>Island</p>
        </div></a
      >
      <a href="/listing/filter/shop"
        ><div class="cell">
          <img src="/images/002-shop.png" />
          <p>Shop</p>
        </div></a
      >
      <a href="/listing/filter/treehouse"
        ><div class="cell">
          <img src="/images/003-tree-house.png" />
          <p>TreeHouse</p>
        </div></a
      >
      <a href="/listing/filter/lake"
        ><div class="cell">
          <img src="/images/004-lake.png" />
          <p>Lake</p>
        </div></a
      >
      <a href="/listing/filter/"
        ><div class="cell">
          <img src="/images/005-trending-topic.png" />
          <p>Trending</p>
        </div></a
      >
      <a href="/listing/filter/snow"
        ><div class="cell">
          <img src="/images/006-snow-globe.png" />
          <p>Snow</p>
        </div></a
      >
      <a href="/listing/filter/boat"
        ><div class="cell">
          <img src="/images/007-sailboat.png" />
          <p>Boat</p>
        </div></a
      >
      <a href="/listing/filter/hut"
        ><div class="cell">
          <img src="/images/008-hut.png" />
          <p>Hut</p>
        </div></a
      >
      <a href="/listing/filter/tent"
        ><div class="cell">
          <img src="/images/009-tent.png" />
          <p>Tent</p>
        </div></a
      >
      <a href="/listing/filter/cave"
        ><div
          class="cell"
          style="margin-right: 0 !important"
        >
          <img src="/images/010-cave.png" />
          <p>Cave</p>
        </div></a
      >
    </div>
    <div class="filter-2"></div>

    <div class="gst">
      <label for="flexSwitchCheckDefault">Display before texes</label>
      <div class="form-check form-switch">
        <input
          class="form-check-input"
          type="checkbox"
          role="switch"
          id="flexSwitchCheckDefault"
        />
      </div>
    </div>
  </div>
</div>
<div class="row px-lg-5 px-md-3 px-sm-3 px-3 body mx-xl-4">
  <!--px mean padding at x-axis-->
  <% for(let list of alllisting) { %>
  <!-- ekane alllisting arr array theke protita obj k list a store kora holo, then amara oi list obj ta k babohar korbo  -->
  <div class="col-md-4 col-lg-3 col-sm-6">
    <a href="/listing/<%= list._id %>"
      ><div class="card">
        <img
          src="<%=list.image.url%>"
          class="card-img-top"
          alt="image"
        />
        <div class="card-img-overlay"></div>
        <div class="card-body">
          <p class="card-text">
            <b><%= list.title %></b> <br />
            <%= list.location %><br />
            <%= list.country %><br />
            <b>&#8377;&nbsp;<%= list.price.toLocaleString("en-IN") %></b> night &nbsp; <span class="gst-span"><em>+<%=((18/100)*list.price).toLocaleString("en-IN")%> (18% gst)</em></span>
          </p>
        </div>
      </div></a
    >
  </div>
  <% } %>
</div>

<script>
  let gstSpanInfo = document.querySelectorAll(".gst-span");
  let btn = document.querySelector("#flexSwitchCheckDefault");

  btn.addEventListener("click", () => {
    console.log(gstSpanInfo);
    for (gstSpan of gstSpanInfo) {
      if (gstSpan.style.display != "inline") {
        gstSpan.style.display = "inline";
      } else gstSpan.style.display = "none";
    }
  });
</script>
