<% layout('/layouts/boilerplats') -%>
<div class="nav-2 px-lg-5 px-md-3 px-sm-3 px-3"></div>
  <div class="row px-lg-5 px-md-3 px-sm-3 px-3 body mx-xl-4">    <!--px mean padding at x-axis-->
    <% for(let list of alllisting) { %>
    <!-- ekane alllisting arr array theke protita obj k list a store kora holo, then amara oi list obj ta k babohar korbo  -->
    <div class="col-md-4 col-lg-3 col-sm-6">
      <a href="/listing/<%= list._id %>"
        ><div class="card">
          <img
            src="<%=list.image%>"
            class="card-img-top"
            alt="..."
          
          />
          <div class="card-img-overlay"></div>
          <div class="card-body">
            <p class="card-text">
              <b><%= list.title %></b> <br />
              <%= list.location %><br />
              <%= list.country %><br />
              <b>&#8377;&nbsp;<%= list.price.toLocaleString("en-IN") %></b> night
            </p>
          </div>
        </div></a
      >
    </div>
    <% } %>
  </div>
