<% layout('/layouts/boilerplats') -%>

<div class="show-main body px-lg-5 px-md-3 px-sm-3 px-3 body">
  <h2>Listing in detail</h2>

  <div class="s-123">
    <div class="show-img ">
      <img style="margin-right: 0.8rem;" class=" my-sm-3 my-3" src="<%= fulllisting.image %>" /><img class=" mb-sm-3 my-3"
        src="<%= fulllisting.image %>"
      />
    </div>
    <h3><%= fulllisting.title %></h3>
    <div class="show-about">
      <p><%= fulllisting.description %></p>
      <p>&#8377;<%=fulllisting.price.toLocaleString("en-IN") %></p>
      <p><%= fulllisting.location %>, <%= fulllisting.country %></p>
    </div>
    <div class="edit-btn">
      <a href="/listing/<%= fulllisting._id %>/edit"><button class="a">Edit</button></a>
    </div>
    <form class="delet-btn" method="post" action="/listing/<%=fulllisting._id%>?_method=DELETE">
      <button class="a">Delet</button>
    </form>
    <div>
      <h4>Leave a review</h4>
      <form>
        <div>
          <label for="rating">Rating</label>
          <input type="range" name="review">
        </div>
        <br>
        <div>
          <label for="comment">Comment</label>
          <textarea name="comment" class="form-control" rows="6"></textarea><br>
          <button>submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
